@media (min-width: 1400px) {
    .analysis-title {
        padding-bottom: 50px;
    }

    .kpis {
        width: 100%;
        justify-content: space-evenly;
        padding-bottom: 50px;
    }

    .graphs {
        width: 100%;
        justify-content: space-evenly;
    }

}
    