.customerButton {
    position: absolute;
    top: 93%;
    right: 1%;
    text-decoration: none;
    background-color: rgb(252, 211, 79);
    border-radius: 20px;
    padding: 0.4% 0.6%;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 100%;
  }
  .customerButton:hover {
    opacity: 0.7;
  }
  
  .customerButton img {
    max-width: 14%;
    height: 40%;
    position: relative;
    padding-left: 4%;
  }


@media (min-width: 1400px) {
    .customerButton {
      width: 8%;
      top: 94%;
    }
  }