nav {
    display: flex;
    flex-direction: row;
    align-items: center; /*Lo centra en el eje vertical por tener flex-direction: row*/
    height: 60px;
    padding: 0 50px;
    box-shadow: 0 2px 3px rgb(0,0,0,0.1);
}


.ul-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
    gap: 5px; /*Para establecer el espacio entre los elementos*/
}

.logo {
    margin: 0;
    padding: 0;
    width: 24%;
    height: inherit;
}

.dropdown {
    float: left; /* Para que se muestre al lado */
    overflow: hidden;
    /* display: flex;
    align-items: center; */

}


/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navbar links on hover */
/* nav li:hover, .dropdown:hover .dropbtn {
    background-color: red;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 3rem;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}