/* Botón para acceder al formulario */

.purchaseOrderButton {
  position: absolute;
  top: 93%;
  right: 1%;
  text-decoration: none;
  background-color: rgb(252, 211, 79);
  border-radius: 20px;
  padding: 0.4% 0.6%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 100%;
}
.purchaseOrderButton:hover {
  opacity: 0.7;
}

.purchaseOrderButton img {
  max-width: 14%;
  height: 40%;
  position: relative;
  padding-left: 4%;
}

/*Formulario*/


.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  max-height: 60%;
  justify-content: center;
  /* justify-content: flex-end; */

}

.add-product-button, .remove-product-button {
  max-height: 100%;
  max-width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  /* padding: 40px 0 0 0; */
  /* display: flex; */
  /* justify-content: flex-end; */
}


.add-product-button img, .remove-product-button img {
  width: 26%;
  height: inherit;
  cursor: pointer;
}

.add-product-button img:hover, .remove-product-button img:hover {
  opacity: 0.5;
}

.customer-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-weight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.products :nth-child(1) {
  padding-top: 5.5px;
}

.products {
  margin-right: 50px;
}

.spaceDiv {
  width: 20%;
  height: 60%;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

@media (min-width: 1400px) {
  .purchaseOrderButton {
    width: 7%;
    top: 94%;
  }
}
