.container-all {
    position: relative; /*Para que los elementos estén posicionados en torno a él*/
}
.container-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}

.container-product {
    width: 700px;
    height: 150px;
    display: flex; /*El 33.33% asegura 3 columnas y los 20px son los márgenes*/
    align-items: center;
    transition: box-shadow 0.2s ease;
    margin: 20px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.img-product {
    width: 30%;
    height: inherit;
    border-radius: 5px 0 0 5px; /*arriba-izquierda arriba-derecha abajo-derecha abajo-izquierda*/
}

.product-info {
    padding: 0 7% 0 7%;
    width: 80%;
}

.product-title {
    margin: auto;
    text-align: left;
}

.manage-product {
    height: inherit;
    border-left: rgb(209, 208, 208) 1px solid;
    display: grid;
    place-items: center;
    width: 100%;
}

.icons-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.edit-button, .add-button, .delete-button {
    height: 100%;
    width: 38%;
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
}

.edit-button img, .delete-button img, .add-button img {
    width: 50%;
    height: inherit;
    cursor: pointer;
}

.edit-button img:hover, .add-button img:hover, .delete-button img:hover {
    opacity: 0.5;
}

.createProduct {
    position: absolute;
    top: 2%;
    right: 1%;
    text-decoration: none;
    background-color: rgb(252, 211, 79);
    border-radius: 20px;
    padding: 0.4% 0.6%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 100%;
}
.createProduct:hover {
    opacity: 0.7;
}

.createProduct img {   
    max-width: 14%;
    height: 40%;
    position: relative;
    padding-left: 2%;
}

.countProducts {
    position: absolute;
    font-size: 12px;
    top: 0%;
    left: 2%;
}

@media (min-width: 1400px) {
    .createProduct {
        width: 7%
    }
}